* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    margin: 12px 48px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 48px;
    padding: 12px;
    background-color: #FFFFFF;
    
}

#name{
    letter-spacing: 0.5em;
}
nav li{
    list-style-type: none;
    display: inline-block;
    padding-left: 24px;
}

nav ul li a{
    color : #4f8bb0;
    text-decoration: none;
}

nav ul li a:hover{
    color : #3e5b83;
}

nav ul li a:active , nav ul li a:focus {
    color : #e5bdbd;
}

#hero {
    background-color: 	#fff9e6;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#hero p:nth-child(1){
    font-size: 48px;
    font-weight: lighter;
}

#hero p:nth-child(1) span{
    color : 	#3e5b83;
}

section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding: 12px;
}
#hero p:nth-child(2){
    
    text-align: center;
    width: 80%;
}

#my-career{
    display: flex;
    min-height: 400px;
}

#my-career div:nth-child(1){
    width: 60%;
}

#my-career div:nth-child(2){
    width: 40%;
}

#my-career ul{
    line-height: 2em;
}
#projects{
    background-color: #e5bdbd;
}

#project-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.project-card{
    background-color: #fff9e6;
    width: 320px;
    height: 300px;
}
.project-card img{
    width: 320px;

}

#contact{
    color : #FFFFFF;
    display: block;
    text-align: center;
    text-decoration: none;

    /* text vertical align */
    line-height: 40px;
    height : 40px;

    border-radius: 20px;

    width: 100px; 
    background-color: #e5bdbd;
}